@import "tailwindcss";
:root {
  --background: #ffffff;
  --foreground: #171717;
  --dark-color: #111;
  --light-color: #eee;

}

body{
  background: var(--background);
  color: var(--foreground)
}

body.dark {
  background-color: var(--dark-color);
  color: var(--light-color);
  }

.bg-image {
  background-image: url("/fondo-dark.jpg");
}
